<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
       {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index_style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body onload="getMarkerData()">
    <div id="menu-bar">
        {% with 'profile_images/'|add:request_content.avatar as image_static %}
        <img id="avatar" src="{% static image_static %}" height="100%" alt="avatar or default"/>
        {% endwith %}

        <span>{{ request_content.name }} {{ request_content.last_name }}</span>
        <span>{{ request_content.login }}</span>
        <span id="test"></span>
        <input id="search-text" type="text" placeholder="Enter a location">
        <a href="{% url 'logout' %}"><input type="button" class="button" value="Logout"/> </a>

    </div>
    <div id="side-bar">
        {% for place in places %}
            <div class="side_menu_button">
                <p>{{ place.name }}</p>
                <p>{{ place.arrival }}-{{ place.departure }}</p>
            </div>
        {% endfor %}
    </div>
    <div id="map-canvas" ></div>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places">
    </script>
    <script src="{% static 'scripts/index_script.js' %}"></script>
    </body>
</html>
