{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="static/styles/login.css">
{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <div style="background-color:#8EC156">
        <div class="container">
	        <div class="row">
                <center><img src="{% static 'logo.png' %}" style="width:268px;height:128px;"/></center>
            </div>
        </div>
	</div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
        <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" />
            <br />
            Password: <input type="password" name="password" value="" />
            <br />
            <br />
            <div class="row">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
        </form>
            <br />
            <div class="row">
                <a href="{% url 'register' %}"><button type="submit" class="btn btn-primary btn-block">Register</button></a>
            </div>
    </div>
    </div>
{% endblock %}
