{% extends 'base.html' %}

{% block head_block %}
    {% load static %}
{% endblock %}

{% block body_block %}
    <div class="containter">
    <div style="background-color:#8EC156">
        <div class="container">
	        <div class="row">
                <center><img src="{% static 'logo.png' %}" style="width:268px;height:128px;"/></center>
            </div>
        </div>
	</div>
    <div class="jumbotron">
                <center><h2>{{ place.name }}</h2></center>
                <center><p>{{ place.arrival }} - {{ place.departure }}</p></center>
                <center><p>{{ place.description }}</p></center>
    {% for picture in pictures %}
        <center>
        {% with 'place_images/'|add:picture.name as image_static %}
            <img id="avatar" src="{% static image_static %}" height="50%"/>
        {% endwith %}
        </br>
        Title:<p>{{ picture.full.title }}</p>

        Description:<p>{{ picture.full.description }}</p>

        Rate: <p>{{ picture.full.rate }}</p>
        </center>
        </br>
    {% endfor %}
    <center>
        <button id="add_photo" value="Add Photo" class="btn btn-primary" onclick="showForm()">Add Photo</button>
            <a href="{% url 'index' %}">
                <button id="return" value="To Index" class="btn btn-primary">To Index</button>
            </a>
    </center>
    </br>
    <center>
        <form id="add_place_form" action="{% url 'show_place' %}" method="post" style="display: none" enctype="multipart/form-data">
        {% csrf_token %}
            {{ picture_form.as_p }}
        <button class="btn btn-primary">Submit</button>
        </form>
    </center>
    </div>
    <script>
        function showForm(){
            var form = document.getElementById("add_place_form");
            form.style.display = "initial";
        }
    </script>
    </div>
{% endblock %}